In [16]:
import pandas as pd
from sklearn.model_selection import cross_val_score

In [4]:
data=pd.read_csv('Immo.csv')

In [6]:
data.head()

,ID,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,median_house_value,ocean_proximity
0,2072,-119.84,36.77,6.0,1853.0,1397.0,417.0,1.4817,72000.0,INLAND
1,10600,-117.80,33.68,8.0,2032.0,862.0,340.0,6.9133,274100.0,<1H OCEAN
2,2494,-120.19,36.60,25.0,875.0,931.0,214.0,1.5536,58300.0,INLAND
3,4284,-118.32,34.10,31.0,622.0,597.0,227.0,1.5284,200000.0,<1H OCEAN
4,16541,-121.23,37.79,21.0,1922.0,1130.0,372.0,4.0815,117900.0,INLAND

In [13]:
data.drop(['ID'],axis=1)

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,median_house_value,ocean_proximity
0,-119.84,36.77,6.0,1853.0,1397.0,417.0,1.4817,72000.0,INLAND
1,-117.80,33.68,8.0,2032.0,862.0,340.0,6.9133,274100.0,<1H OCEAN
2,-120.19,36.60,25.0,875.0,931.0,214.0,1.5536,58300.0,INLAND
3,-118.32,34.10,31.0,622.0,597.0,227.0,1.5284,200000.0,<1H OCEAN
4,-121.23,37.79,21.0,1922.0,1130.0,372.0,4.0815,117900.0,INLAND
...,...,...,...,...,...,...,...,...,...
16507,-121.90,39.59,20.0,1465.0,745.0,250.0,3.0625,93800.0,INLAND
16508,-122.25,38.11,49.0,2365.0,1131.0,458.0,2.6133,103100.0,NEAR BAY
16509,-121.22,38.92,19.0,2531.0,1206.0,429.0,4.4958,192600.0,INLAND
16510,-118.14,34.16,39.0,2776.0,2546.0,773.0,2.5750,153500.0,<1H OCEAN
16511,-124.13,40.80,31.0,2152.0,1259.0,420.0,2.2478,81100.0,NEAR OCEAN

## Baseline model

In [18]:
X = data.drop(['ID','median_house_value','ocean_proximity'],axis=1)
y=data['median_house_value']

In [23]:
from sklearn.dummy import DummyRegressor

dummy = DummyRegressor(strategy='mean')
dummy.fit(X, y)

scores = cross_val_score(dummy, X, y, cv=5)
scores.mean()

-0.00030514085837407556

In [25]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression().fit(X, y)

scores = cross_val_score(reg, X, y, cv=5)
scores.mean()

0.6321248967054596